<div class="container py-3 my-2">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12 offset-md-3 offset-sm-2">
      <h3 class="text-center">แจ้งชำระเงิน</h3>
        <% form_tag '/email_form_with_php.php',
          :class => 'mail-form ajax-form', :method => 'post' do %>
          <div class="form-group">
            <%= label_tag "ชื่อ*", :class => 'name' %><br>
            <%= text_field_tag :name, required: true,
                  class: 'form-control input-sm' %>
          </div> <!-- .form-group -->

          <div class="form-group">
            <%= label_tag "อีเมล์*", :class => 'email' %><br>
            <%= email_field_tag :email, required: true,
                  class: 'form-control input-sm' %>
          </div> <!-- .form-group -->

          <div class="form-group">
            <%= label_tag "เบอร์โทรศัพท์*" %><br>
            <%= text_field_tag :phone, required: true,
                  class: 'form-control input-sm' %>
          </div> <!-- .form-group -->

          <div class="form-group">
            <%= label_tag "คอร์สเรียน*" %><br>
            <%= text_field_tag :course_name, required: true,
                  class: 'form-control input-sm' %>
          </div> <!-- .form-group -->

          <div class="form-group">
            <%= label_tag "เลือกไฟล์*"  %><br>
            <%= file_field_tag :slip, required: true,
                  accept: 'image/*',
                  class: 'form-control input-sm' %>
          </div> <!-- .form-group -->
          <%= hidden_field_tag "reply_to", value: "email" %>
          <%= hidden_field_tag "email_subject", value: "Payment Transfer Notification" %>
          <%= submit_tag "ส่งข้อความ", class: 'btn btn-primary' %>

        <% end %>
    </div> <!-- .col-md-6 col-sm-8 col-xs-12 offset-md-3 offset-sm-2 -->
  </div>
</div>
