<%= partial 'nav' %>

<div id="hero-image">
  <div class="image">
    <div class="row selling-point">
      <div class="col-sm-3">
        <% link_to "#", 'data-target': "#courses" do %>
          <h5>คอร์สเรียน</h5>
          <small>
            คอร์สเรียนหลากหลาย <br>
            สอนตั้งแต่พื้นฐานจนถึงขึ้นมืออาขีพ
          </small>
        <% end %>
      </div> <!-- .col-sm-3 -->
      <div class="col-sm-3">
        <% link_to "#", 'data-target': '#step-to-apply' do %>
          <h5>ขั้นตอนสมัคร</h5>
          <small>
            สมัครได้อย่างง่ายและรวดเร็ว <br>
            เริ่มเรียนได้ทันที
          </small>
        <% end %>
      </div> <!-- .col-sm-3 -->
      <div class="col-sm-3">
        <% link_to "#", 'data-target': "#why-we-need-to-study" do %>
          <h5>ทำไมถึงต้องเรียน</h5>
          <small>
            การเรียนไม่มีที่สิ้นสุด เริ่มก่อน รู้ก่อน<br>
            พร้อมตอบปัญหาที่พบบ่อย
          </small>
        <% end %>
      </div> <!-- .col-sm-3 -->
      <div class="col-sm-3">
        <%= link_to "สอบถามข้อมูล", "http://line.me/ti/p/~digitalpainting", class: "btn btn-primary" %>
      </div> <!-- .col-sm-3 -->
    </div> <!-- .row -->
  </div> <!-- .image -->
</div>
<%= partial "fb_chat" %>

<%= partial "courses" %>

<div id="step-to-apply" class="py-1 my-4">
  <div class="container">
    <h2 class="text-center"><%= data.apply.title %></h2>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="steps fa-4x">
          <i class="fa fa-comments step-icon"></i>
        </div> <!-- .steps -->
        <h5 class="title"><%= data.apply.step1.title %></h5> <!-- .title -->
        <p class="subtitle"><%= data.apply.step1.subtitle %></p> <!-- .subtitle -->
      </div> <!-- .col-md-4 col-xs-12 -->
      <div class="col-md-4 col-xs-12">
        <div class="steps fa-4x">
          <i class="far fa-credit-card step-icon"></i>
        </div> <!-- .steps -->
        <h5 class="title"><%= data.apply.step2.title %></h5> <!-- .title -->
        <p class="subtitle"><%= data.apply.step2.subtitle %></p> <!-- .subtitle -->
      </div> <!-- .col-md-4 col-xs-12 -->
      <div class="col-md-4 col-xs-12">
        <div class="steps fa-4x">
          <span class="fa-layers fa-fw">
            <i class="fas fa-file-alt step-icon"></i>
            <i class="far fa-paper-plane" data-fa-transform="shrink-12 up-3 right-3"></i>
          </span>
        </div> <!-- .steps -->
        <h5 class="title"><%= data.apply.step3.title %></h5> <!-- .title -->
        <p class="subtitle"><%= data.apply.step3.subtitle %></p> <!-- .subtitle -->
      </div> <!-- .col-md-4 col-xs-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div>
<%= partial "ads_sales_page" %>
<%= partial "why_we_need_to_study" %>

<div class="container" id="question-answer">

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <%= image_tag "helloquence-61189-unsplash.jpg", width: '100%' %>
    </div> <!-- .col-md-6 col-xs-12 -->

    <div class="col-md-6 col-xs-12">
      <h2><%= data.faq.title %></h2>
      <% data.faq.answers.each do |answer| %>
        <div class="answer pb-2 pl-3">
          <i class="fa fa-angle-right faa-horizontal animated-hover"></i>
          <%= answer %>
        </div> <!-- .answer -->
      <% end %>
    </div> <!-- .col-md-6 col-xs-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
<%= partial "testimonial" %>
<%= partial "upload_slip" %>
<%= partial "footer" %>

<%= partial "modal_result" %>
